@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

/* font-family: "Open Sans", sans-serif; */
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #160092,
    #9803d3,
    #e945c6,
    #ff5e52,
    #ffc852
  );
  background-size: 600% 100%;
  animation: gradient 8s linear infinite;
  animation-direction: alternate;
}
body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

/* #f17c58,
    #e94584,
    #24aadb,
    #27dbb1,
    #ffdc18,
    #ff5e52 */

.container {
  /* background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(167, 167, 168, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 400px;
   */
  background: rgba(255, 255, 255, 0.3);
  padding: 1em;
  width: 380px;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  /* text-align: center; */
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* input {
  background: rgb(255, 255, 255, 0.6);
} */

input {
  background: transparent;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;

  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

::placeholder {
  color: rgb(121, 121, 121);
  opacity: 0.8;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: rgb(255, 255, 255);
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-control input {
  /* border: 2px solid rgba(228, 228, 228, 0.2);
  border-radius: 4px;
  display: block;
  letter-spacing: 1.5px;
  font-size: 16px;
  width: 100%;
  padding: 10px; */
  font-size: 18px;
  letter-spacing: 2px;
  background: transparent;
  width: 100%;
  padding: 1em;
  margin-bottom: 0.25em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.form-control input:focus {
  outline: 0;
  border-color: rgb(116, 116, 116);
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control input:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 6px 60px 8px rgba(0, 0, 0, 0.2);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

/* #3498db; */

.form button {
  /* cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  color: rgb(0, 0, 0);
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  outline: none;
  box-shadow: 0 12px 12px 0 rgba(167, 166, 166, 0.37); */

  font-size: 18px;
  letter-spacing: 2px;
  background: transparent;
  width: 100%;
  padding: 1em;
  margin-bottom: 0.25em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
}

.form button:hover {
  background-color: #000000;
  border: 1px solid #000000;
  color: white;
}

.form button:active {
  background-color: #000000;
  box-shadow: 0 12px 12px 0 rgba(112, 112, 112, 0.37);
  transform: translateY(5px);
}

h2 {
  /* text-align: center;
  margin: 0 0 20px;
  color: rgb(255, 255, 255);
  font-size: 32px;
  letter-spacing: 1.5px; */
  text-align: center;
  font-weight: 600;
  color: #fff;
  opacity: 0.7;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.container {
}
